@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    /*párrafos*/
    --parrafo-color:#373a3c;
    --parrafo-size:1.5em;
    --parrafo-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    --parrafo-weight: 300;

    /*titulos*/
    --titulo-color: rgb(95 28 219);
    --titulo-size:2em;
}

html{
    height:100%;
}

body{
    margin:0;
    padding: 0;
}

.global-body{
    width: 100%;
    display: grid;
    grid-template-areas:
                        "header main"
                        "header footer";
    grid-template-columns: 20% 80%;
}

header{
    grid-area: header;
    background-color: rgb(141, 90, 236);
    display: flex;
    height: 100vh;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;
    font-family: 'Lobster', cursive;
    position: sticky;
    top: 0;
    bottom: 0;
}


main{
    grid-area: main;
    height: auto;
}

footer{
    grid-area: footer;
    height: 10vh;
}

/*==============================*/
/*===========SLIDER=============*/
/*==============================*/
.slider-section{
    cursor: ;
}
.slider-hide{
    margin: 0 auto;
    background-image: url(./assets/images/neaty-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 150px);
    max-height: 600px;
    background-position: center;
}

/*==============================*/
/*=====WELCOME DESCRIPTION======*/
/*==============================*/
.description-section{
    padding: 2em;
}

.title-description{
    color: var(--titulo-color);
    font-family: var(--parrafo-font-family);
}

.parrafo{
    font-family: var(--parrafo-font-family);
    font-size: var(--parrafo-size);
    font-weight: var(--parrafo-weight);
    color: var(--parrafo-color);
}

@media (max-width: 700px) {
    .global-body{
        width: 100%;
        height:auto;
        display: grid;
        grid-template-areas:
                            "header"
                            "main" 
                            "footer";
        grid-template-rows: 15% 75% 10%;
        grid-template-columns: 100%;
    }
    header{
        grid-area: header;
        height: 100%;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
}